body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bg-img {
    background-color: #ADD8E6;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container {
    margin: 0px 120px;
}
.portlet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.portlet-body {
    display: flex;
    align-items: center;
    width: 28rem;
    padding: 1rem;
}
.card {
    margin: 1rem 0px;
    background-color: #fff;
    border-radius: 25px 25px 25px 0px;
    padding: 2rem;
    overflow: auto;
}
.text-blue {
    color: #083e9e;
}
h1.h1 {
    font-weight: 700;
    line-height: 1;
}
.welcome-text {
    font-size: .875rem;
    margin-top: -10px;
}
.card-header {
    padding: 0px 1rem .5rem 1rem;
}
.form-group {
    padding: 1rem;
}
label {
    color: #4a5568;
    font-size: .75rem;
    line-height: 2;
    margin-bottom: .25rem;
}
textarea {
    color: #1a202c;
    padding: 1rem;
    width: 90%;
    border: 0px solid #e2e8f0;
    border-radius: .25rem;
    background-color: #edF2F7;
    font-size: 1rem;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
}

.round {
    border-radius: 15px;
}

a {
    text-decoration: none;
    cursor: pointer;
}
