body {
    padding: 0px;
    margin: 0px;
    font-family: 'Karla', sans-serif;
}
.bg-img {
    background: url('./assets/bg-img.PNG');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    margin: 0px 120px;
}
.portlet {
    display: flex;
    justify-content: center;
}
.portlet-body {
    display: flex;
    flex-direction: column;
    width: 28rem;
    padding: 1rem;
}
.portlet-head {
    margin: 1.7rem;
    text-align: center;
}
.card {
    margin: 1rem 0px;
    background-color: #fff;
    border-radius: 25px 25px 25px 0px;
    padding: 2rem;
    overflow: auto;
}
.text-blue {
    color: #083e9e;
}
.text-gray {
    color: #4a5568;
}
.text-white {
    color: #fff;
}
h1.h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
}
.welcome-text {
    font-size: .875rem;
    margin-top: -10px;
}
.card-header {
    padding: 0px 1rem .5rem 1rem;
}
.form-group {
    padding: 1rem;
}
label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4a5568;
    font-size: .75rem;
    line-height: 2;
    margin-bottom: .25rem;
}
input, select {
    color: #1a202c;
    padding: 1rem;
    width: 90%;
    border: 0px solid #e2e8f0;
    border-radius: .25rem;
    background-color: #edF2F7;
    font-size: 1rem;
    outline: none;
    font-family: 'Karla', sans-serif;
}
input::placeholder {
    font-size: 1rem;
    color: rgb(168, 167, 167);font-family: 'Karla', sans-serif;
}
input:focus, input:enabled, input:active, input:focus-visible, input:focus-within {
    border: 0px solid none;
    border-color: none;
}
select {
    width: 100%;
    border-radius: 13px;
    font-family: 'Karla', sans-serif;
}
.bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.btn {
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;text-transform: uppercase;
    border-radius: 13px 13px 13px 0px;
    border: 0px solid #fff;
    background-color: rgb(8, 62, 158);
}
.btn:hover {
    background-color: rgb(6, 43, 111);
}
.btn-block{
    display: block;
    width: 100%;
}
.round {
    border-radius: 15px;
}
.footer {
    padding: .5rem;
    margin: .5rem;
}
.footer-text > a:hover {
    color: rgb(179, 179, 179);
}
a {
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 710px) {
    .container {
        margin: 0px 20px;
    }
    .portlet-body {
        width: 440px;
    }
}
@media screen and (max-width: 508px) {
    .container {
        margin: 0px 10px;
    }
    .portlet-body {
        width: 90%;
    }
    h1.h1{
        font-size: 1.5rem;
    }
    .welcome-text {
        font-size: .87rem;
    }
}
@media screen and (max-width: 475px) {
    .container {
        margin: 0px 5px;
    }
    .portlet-body {
        width: 100%;
    }
    .card-header {
        padding: 0px .5rem .5rem .5rem;
    }
    .card{
        padding: 1rem;
    }
    h1.h1{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 298px) {
    .portlet-head {
        margin: 1.7rem 5px;
    }
    a > img.w-sm {
        width: 80%;
    }
}